*{
    margin: 0px;
    padding: 0px;
    transition: all ease 0.7s;
}
body{
    overflow-x: hidden;
}
button{
    cursor: pointer;
}
.main-bodyyy{
    width: 100vw;
    height: 24vh;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
}
.main-bodyyy .title{
    width: 100vw;
    height: 10vh;
    background-color: rgb(51, 50, 50);
}
.title h2{
    text-align: center;
}
.main-bodyyy .navbar{
    width: 100vw;
    height: 10vh;
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar li{
    list-style: none;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 10px;
}
.navbar li:hover{
    background-color: grey;
    color: #fff;
}
.navbar li a{
    text-decoration: none;
    color: black;
}