body{
    background-color: black;
}
.content{
    width: 100vw;
    height: 68vh;
    background-color: rgb(223, 221, 221);
    padding-top: 20px;
}
.image{
    width: 100vw;
    height: 250px;
    background-color: #fff;
    display: flex;
}
.image img{
    width: 70%;
    height: 250px;
}
.image .showTen{
    margin-left: 2%;
    width: 28%;
    height: 250px;
}
.image .left{
    position: absolute;
    top: 140vh;
    left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: black;
}
.image .right{
    position: absolute;
    top: 140vh;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: black;
}
.second{
    width: 100vw;
    height: 80px;
    margin-top: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.second .imagebox,.second .imagebox img{
    width: 60px;
    height: 60px;
    background-color: aquamarine;
}