.pop-body {
    width: 100vw;
    /* background-color: rgba(0, 0, 0, 0.4); */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    bottom: 0vh;
    z-index: 4;
}

.pop-box {
    width: 100vw;
    background-color: #fff;
}

/* App.css */

.container {
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #007bff;
}

.navbar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.navbar a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.content {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #007bff;
}

.service-list {
    list-style: none;
    padding: 0;
}

.service-list li {
    margin-bottom: 10px;
    color: #555;
}
.pop-body button{
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    position: absolute;
    top: 30px;
    left: 220px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
}