*{
    margin: 0;
    padding: 0;
    color: #ffffff;
}
body{
    background-color: #2f302f;
    
}
.cursor{
    cursor: pointer;
}

/**************************CSS CODE***************************8*/
.front-page{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ),url("https://assets.nflxext.com/ffe/siteui/vlv3/73334647-ad51-42a9-b07b-93298cc2a8e1/2b0fca4f-c15c-4622-9efc-572c4a408c30/IN-en-20230605-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    background-size: cover;
    
}
.navbar-logo{
    width: 100vw;
    height: 86px;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo h1{
    color: rgba(229, 9, 20, 1);
    margin-left: 5vw;
}
.buttons{
    display: flex;
    margin-right: 5vw;
}
.buttons li{
    list-style: none;
    margin: 0px 5px;
}
.language{
    color: #ffffff;
    font-size: 1.2rem;
    position: relative;
    left: 30px;
    top: 4px;
}
.buttons li button{
    font-size: 1rem;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #E50915;
    font-weight: 600;
}
.sign{
    text-decoration: none;
}
.buttons li select,.sel{
    padding: 6px 36px;
    font-size: 1rem;
    border-radius: 3px;
    background: transparent;
}
.body-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
    margin-top: 10vh;
}
.body-content h1{
    font-size: 3rem;
    font-weight: 700;
}
.body-content p{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 11px 0px;
}
.input{
    display: flex;
    justify-content: center;
}
.input input{
    width: 320px;
    padding: 1.5rem 1rem 0.5rem;
    background-color: transparent;
    font-size: 1.2rem;
    border: 1px solid grey;
    border-radius: 4px;
}
.input input:valid{
    border: 1px solid grey;

}
.input button{
    background-color: #E50915;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 8px;
    width: 180px;
    height: 52px;
    border: none;
    border-radius: 4px;
    position: relative;
    bottom: 7px;
}
.input p,.warn{
    font-size: 1rem;
    margin-top: 0px;
    margin-left: 8px;
    color: #E8730C;
}
.input button a{
    text-decoration: none;
}
.input button i{
    font-size: 1.2rem;
    font-weight: lighter;
}
.box1{
    width: 100vw;
    height: 70vh;
    margin-top: 8px;
    background-color: black;
    display: flex;
}
.box1 .text{
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box1 .text h1{
    font-size: 3rem;
}
.box1 .text p{
    font-size: 1.5rem;
    margin-left: 57px;
}
.box1 .img{
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 .img .img1{
    width: 30vw;
    height: 50vh;
    background-image: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png");
    background-size: cover;
}

/* ****************Box2***************** */


.box2{
    width: 100vw;
    height: 70vh;
    margin-top: 8px;
    background-color: black;
    display: flex;
}
.box2 .text{
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box2 .text h1{
    font-size: 3rem;
}
.box2 .text p{
    font-size: 1.5rem;
    margin-left: 115px;
}
.box2 .img{
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2 .img .img2{
    width: 30vw;
    height: 50vh;
    background-image: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png");
    background-size: cover;
}

/* **********Box3********** */

.p-text{
    margin-left: 90px !important;
}
.img3{
    width: 30vw;
    height: 50vh;
    background-image: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg");
    background-size: cover;
}

/* **********Box4********** */

.p-text1{
    margin-left: 135px !important;
}
.img4{
    width: 30vw;
    height: 50vh;
    background-image: url("https://occ-0-3752-2164.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABVr8nYuAg0xDpXDv0VI9HUoH7r2aGp4TKRCsKNQrMwxzTtr-NlwOHeS8bCI2oeZddmu3nMYr3j9MjYhHyjBASb1FaOGYZNYvPBCL.png?r=54d");
    background-size: cover;
}

/* **********Box4********** */

.box5{
    width: 100vw;
    height: 200vh;
    margin-top: 8px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box5 h1{
    font-size: 3rem;
}
.box5 .que{
    width: 75vw;
    height: 80px;
    background-color: rgb(45,45,45);
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box5 .que:hover{
    background-color: #615f5f;
}
.box5 .que p{
    padding-left: 20px;
    font-size: 1.5rem;
}
.plus{
    font-size: 2rem;
    padding-right: 20px; 
}
.box5 p{
    font-size: 1.5rem;
}


/* **********ANSWER************** */


.ans1{
    width: 75vw;
    background-color: #2f302f;
    margin-top: 1px;
}
.ans1 p{
    font-size: 1.3rem;
    margin: 20px;
    /* animation: font 0.5s ease-in-out 0s 1 normal; */
}


/* ***********FOOTER*************** */

.lists{
    display: flex;
    justify-content: space-evenly;
}
.lists ul li{
    list-style: none;
    margin-bottom: 15px;
}
.options{
    width: 30vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
.lists ul li a,.in{
    color: rgba(255, 255, 255, 0.7);
}
.sel{
    position: relative;
    top: 5px;
    right: 20px;
}
.ic{
    position: relative;
    top: 8px;
    left: 8px;
}

.red:hover{
    background-color: rgba(228.99,8.925,20.91,0.9);
}


/* ****************Responsiveness************** */

@media screen and (max-width:897px) {
    .body-content h1{
        font-size: 1.5rem;
    }
    .body-content p{
        font-size: 0.8rem;
    }
}
@media screen and (max-width:816px) {
    .lists ul li a{
        font-size: 0.8rem;
    }
    .lists ul li{
        margin-bottom: 1.5vh;
    }
    .box1,.box2{
        flex-direction: column;
        height: 90vh;
    }
    .box1 .text,.box2 .text{
        width: 100vw;
    }
    .box1 .text h1,.box2 .text h1{
        font-size: 2rem;
    }
    .box1 .text p,.box2 .text p{
        font-size: 1rem;
    }
    .box1 .img,.box2 .img{
        width: 100vw;
    }
    .box1 .img .img1,.box2 .img .img2,.box2 .img .img3,.box2 .img .img4{
        width: 50vw;
    }
}
@media screen and (max-width:641px) {
    .box1 .img .img1,.box2 .img .img2,.box2 .img .img3,.box2 .img .img4{
        width: 70vw;
    }
}
@media screen and (max-width:561px) {
    .input{
        flex-direction: column;
    }
    .options{
        height: 70vh;
    }
    .lists ul li a{
        font-size: 0.5rem;
    }
    .input button{
        margin-left: 15vw;
        margin-top: 8px;
        padding: 8px;
    }
}
@media screen and (max-width:448px) {
    .buttons{
        margin-right: 1vw;
    }
    .body-content h1{
        font-size: 1rem;
    }
    .body-content p{
        font-size: 0.5rem;
    }
    .navbar-logo h1{
        margin-left: 20px;
    }
    li select option{
        display: none;
    }
}
@media screen and (max-width:423px){
    .navbar-logo h1{
        margin-left: 1vw;
    }
}
@media screen and (max-width:385px){
    .box1,.box2{
        height: 120vh;
    }
    .box1 .text,.box2 .text{
        width: 100vw;
    }
    .box5{
        height: 240vh;
    }
    .box1 .img,.box2 .img{
        width: 100vw;
    }
    .box1 .img .img1,.box2 .img .img2,.box2 .img .img3,.box2 .img .img4{
        width: 90vw;
    }
}