.step2-body{
    width: 100vw;
    height: 132.2vh;
    background-color: rgb(175, 175, 175);
    font-family: Arial, Helvetica, sans-serif;
}

.black{
    color: black;
}
.grey{
    color: #737373;
}
.underline:hover{
    text-decoration: underline;
}

/* *********************************************************************** */

.navbar{
    width: 100vw;
    height: 14vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar h1{
    color: rgba(229, 9, 20, 1);
    margin-left: 5vw;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 5vw;
}

/* *********************************************************************** */

.step2-front-page{
    width: 100vw;
    height: 85vh;
    background-color: #fff;
    margin-top: 0.085vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *********************************************************************** */

.step2-front-page .step2-box{
    width: 400px;
    height: 70vh;
}


/* *********************************************************************** */

.step2-box .p1{
    font-weight: lighter;
    margin-top: 2vh;
}

/* *********************************************************************** */

.step2-box h1{
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2rem;
}

/* *********************************************************************** */

.step2-box .p2{
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 1.3rem;
}

/* *********************************************************************** */

.step2-box form input{
   margin-top: 2vh; 
   margin-left: 1vw;
   width: 370px;
   height: 50px;
   border: 1.5px solid grey;
   border-radius: 5px;
   padding-left: 8px;
}

/* *********************************************************************** */

.step2-box form button{
    margin-top: 2vh; 
    margin-left: 1vw;
    width: 378px;
    height: 60px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: #E50915;
    font-size: 1.7rem;
 }

/* *********************************************************************** */

.step2-footer{
    width: 100vw;
    height: 33vh;
    background-color: rgba(255,255,255,0.8);
    margin-top: 1px;
    display: flex;
    flex-direction: column;
}


/* *********************************************************************** */

.step2-option{
    display: flex;
}
.option1,.option2{
    width: 40vw;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.option1 ul li,.option2 ul li{
    list-style: none;
    margin-top: 2vh;
}

/* *********************************************************************** */

.step2-footer p{
    height: 8vh;
    margin-top: 3vh;
    margin-left: 8vw;
}
.step2-footer p a,.option1 ul li a,.option2 ul li a{
    text-decoration: none;
}

/* *********************************************************************** */

.step2-footer select{
    width: 10vw;
    height: 6vh;
    margin-left: 7vw;
    margin-top: 2vh;
    color: #737373;
    text-align: center;
}
.step2-footer i{
    position: relative;
    left: 9vw;
    color: #737373;
}

/* *******************************Media Query**************************************** */

@media screen and (max-width:580px) {
    .step2-body{
        height: 139.2vh;
    }
    .step2-footer{
        height: 40vh;
    }
    .option1,.option2{
        flex-direction: column;
    }
    .step2-footer select{
        margin-top: 5vh;
        width: 20vw;
    }
    .step2-footer i{
        left: 11vw;
    }
}