.step1-body{
    width: 100vw;
    height: 132.2vh;
    background-color: rgb(175, 175, 175);
    font-family: Arial, Helvetica, sans-serif;
}

.black{
    color: black;
}
.grey{
    color: #737373;
}
.underline:hover{
    text-decoration: underline;
}

/* *********************************************************************** */

.navbar{
    width: 100vw;
    height: 14vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar h1{
    color: rgba(229, 9, 20, 1);
    margin-left: 5vw;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 5vw;
}

/* *********************************************************************** */

.step1-front-page{
    width: 100vw;
    height: 85vh;
    background-color: #fff;
    margin-top: 0.085vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *********************************************************************** */

.step1-front-page .step1-box{
    width: 400px;
    height: 70vh;
}

/* *********************************************************************** */
.step1-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.step1-icons .step1-laptop{
    color: rgba(229, 9, 20, 1);
    font-size: 3rem;
}
.step1-icons .step1-deskstop{
    font-size: 4.5rem;
    margin-left: 1.5vw;
    color: rgba(229, 9, 20, 1);
    margin-right: 1.5vw;
}
.step1-icons .step1-tablet{
    color: rgba(229, 9, 20, 1);
    font-size: 2rem;
}
.step1-icons .step1-mobile{
    color: rgba(229, 9, 20, 1);
    font-size: 1rem;
    margin-left: 4px;
}

/* *********************************************************************** */

.step1-box .p1{
    font-weight: lighter;
    text-align: center;
    margin-top: 2vh;
}

/* *********************************************************************** */

.step1-box h4{
    font-size: 2rem;
    text-align: center;
    margin-top: 2vh;
}

/* *********************************************************************** */

.step1-box .p2{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 2vh;
}

/* *********************************************************************** */

.step1-box button{
    width: 300px;
    height: 9vh;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #E50915;
    align-self: center;
    margin-left: 4vw;
    margin-top: 3vh;
}
.step1-box button a{
    text-decoration: none;
}

/* *********************************************************************** */

.step1-footer{
    width: 100vw;
    height: 33vh;
    background-color: rgba(255,255,255,0.8);
    margin-top: 1px;
    display: flex;
    flex-direction: column;
}


/* *********************************************************************** */

.step1-option{
    display: flex;
}
.option1,.option2{
    width: 40vw;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.option1 ul li,.option2 ul li{
    list-style: none;
    margin-top: 2vh;
}

/* *********************************************************************** */

.step1-footer p{
    height: 8vh;
    margin-top: 3vh;
    margin-left: 8vw;
}
.step1-footer p a,.option1 ul li a,.option2 ul li a{
    text-decoration: none;
}

/* *********************************************************************** */

.step1-footer select{
    width: 10vw;
    height: 6vh;
    margin-left: 7vw;
    margin-top: 2vh;
    color: #737373;
    text-align: center;
}
.step1-footer i{
    position: relative;
    left: 9vw;
    color: #737373;
}

/* *******************************Media Query**************************************** */

@media screen and (max-width:580px) {
    .step1-body{
        height: 139.2vh;
    }
    .step1-footer{
        height: 40vh;
    }
    .option1,.option2{
        flex-direction: column;
    }
    .step1-footer select{
        margin-top: 5vh;
        width: 20vw;
    }
    .step1-footer i{
        left: 11vw;
    }
}